
@{
    ViewData["Title"] = "Статья";
}

<a class="top_button" onclick="topFunction()" id="myBtn">
    <img src="~/img/top_button.png" class="top">
</a>
<h1>Как правильно составить резюме: наши советы</h1>
<div class="filling">
    <p>
        Будем честны: резюме не главное при устройстве на работу. Человека с уникальными опытом и компетенциями пригласят на собеседование, даже если его резюме составлено на салфетке.
        Другое дело, если к категории редких суперпрофессионалов он пока не относится. Тогда шанс встретить конкурентов в борьбе за работу мечты возрастает, а качество резюме выходит на первый план.
    </p>
    <img src="images/cv.png" width="500" height="500" class="picture">
    <p class="before_accordion">В этой статье мы собрали советы по составлению идеального резюме:</p>
    <button class="accordion">Фото, контакты, место проживания</button>
    <div class="panel">
        <p>
            Фотография в резюме всегда будет плюсом, даже если должность не предполагает общения с людьми. Фото сделает резюме персонализированным: его будет легче заметить, а отклик сложнее пропустить или удалить.
            Но выбирать портрет для резюме нужно критически: неудачное фото может все испортить. Лучше всего подойдет профессиональное портретное фото, деловое и нейтральное.
        </p>
        <p>В разделе контакты обратите внимание на почтовый ящик — он должен соответствовать профессиональному статусу.</p>
        <p>Некоторые соискатели указывают в резюме свой домашний адрес вплоть до конкретной квартиры. Достаточно указать город или ближайшее метро.</p>
    </div>
    <button class="accordion">Желаемая должность и зарплата</button>
    <div class="panel">
        <p>
            Указывать желаемую зарплату в резюме необязательно, но любой работодатель будет рад, если вы это сделаете.
            Универсальный совет в такой ситуации: написать сумму на 15–20% большую, чем та, которую вы зарабатываете сейчас. Это даст возможность торговаться без ущерба для собственных интересов.
        </p>
        <p>Сверяйте свои ожидания со средней зарплатой по рынку: посмотрите на вакансии, на статистику по региону и профессиональной области. Завышенный на 40% и более оклад однозначно отпугнет рекрутера.</p>
    </div>
    <button class="accordion">Опыт работы</button>
    <div class="panel">
        <p>Если вы не начинающий специалист, то именно опыт — главная часть резюме. Поэтому к этому разделу стоит подойти с особой тщательностью.</p>
        <ol>
            <li>Опыт должен выглядеть цельным, то есть без длительных перерывов в карьере. Если перерывы были, то они должны иметь объяснения;</li>
            <li>Опыт должен выглядеть стабильным: если вы меняете место работы чаще раза в год, работодателя это насторожит;</li>
            <li>Уделите внимание последним трем годам работы: это интересует работодателей в первую очередь. О начальных этапах карьеры и о том, что было больше 10 лет назад, можно рассказать совсем кратко;</li>
            <li>Если компания неизвестна на рынке, укажите ее род деятельности;</li>
            <li>В заголовках пишите общепринятые на рынке названия должностей;</li>
            <li>Никогда не копируйте список обязанностей из должностных инструкций. Выделите наиболее важные и запишите понятным языком, без канцеляризмов;</li>
            <li>Помимо рабочих обязанностей, обязательно укажите ваши конкретные достижения и результаты деятельности.</li>
        </ol>
    </div>
    <button class="accordion">Образование</button>
    <div class="panel">
        <p>Все указанные в резюме образовательные курсы должны относиться к профессиональной деятельности. Лучше упустить что-то, чем добавлять сомнительные сертификаты, если в работе эти знания не нужны.</p>
        <p>Можно опустить учебу в техникуме или ПТУ, если есть диплом о высшем образовании в той же сфере.</p>
    </div>
    <button class="accordion">Ключевые навыки</button>
    <div class="panel">
        <p>Многие соискатели полностью игнорируют этот раздел, а зря: часто именно сюда смотрит рекрутер после знакомства с опытом и образованием кандидата. Ключевые навыки — это специфические знания и умения, относящиеся непосредственно к рабочим процессам</p>
        <p>Избегайте очевидных вещей: не нужно писать, что вы знаете Windows, Internet Explorer и пользуетесь электронной почтой.</p>
    </div>
    <button class="accordion">Обо мне</button>
    <div class="panel">
        <p>Очень часто соискатели путают навыки с личностными качествами и указывают в разделе ключевых навыков что-то вроде «Ответственность» или «Пунктуальность». Советуем написать об этих качествах в разделе «Обо мне» и избегать банальностей: вместо «Ответственности» и «Пунктуальности» напишите «Добросовестно отношусь к выполнению задач» и «Всегда укладываюсь в обещанные сроки». Суть от этого не поменяется, но формулировка привлечет больше внимания.</p>
        <p>В некоторых случаях можно указать личностные качества, которые не относятся напрямую к профессии — это может быть хорошая физическая форма или спортивные достижения.</p>
        <p>Все то же самое относится и к достижениям в интеллектуальной сфере. Если вы чемпион города по шахматам или выиграли олимпиаду по программированию — это интересно. Если просто увлекаетесь чтением, то нет. Добавляйте только то, что можно доказать и что поможет получить желаемую должность.</p>
        <p>А вот хобби в большинстве случаев лучше совсем не указывать. Рекрутеру оно не интересно, а экзотические занятия (вроде эзотерики и даже йоги) и вовсе могут отпугнуть.</p>
    </div>
</div>
<a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="images/logo.png" class="logo">
</a>

<script src="~/js/scriptForButtonTop.js"></script>
<script src="~/js/scriptForAccordation.js"></script>
<script src="~/js/scriptNoCopy.js"></script>
<script src="~/js/scriptForLiveSearch.js" type="text/javascript"></script>
<script src="~/lib/jquery/1.12.4/jquery.min.js"></script>