@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Хочу спать</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Навести суету чисто на шарпах</a>.</p>

    @if(ViewBag != null && ViewBag.List != null)
    {
        @foreach(User element in ViewBag.List)
                {
                    <div>
                        <p><b>@element.Name</b></p>
                        @if (element.About != null)
                        {
                        <span>@element.About</span>
                        }

                    </div>
                }
    }
 


    <img src="~/content/artemMemes.jpg" />
</div>
