@model SurfingBlogRt.Models.Vacancy

@{
    ViewData["Title"] = "Создание вакансии";
}
<a class="top_button" onclick="topFunction()" id="myBtn">
    <img src="~/img/top_button.png" class="top">
</a>

<h1>Публикация вакансии</h1>
<div class="title">
    <p>Введите необходимые данные:</p>
    <p class="ps">(* помечены обязательные для заполнения поля)</p>
</div>

<form class="card col-10" style="border-radius: 10px" asp-action="Create">
    <span class="card-header" style="width: 100%; border-color: grey; background-color: #DCE4E9; text-decoration-color: #6C757D ">
        <h2>Публикация вакансии</h2>
    </span>
    <div class="card-body" style="align-content: center">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Company" class="control-label"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Region" class="control-label"></label>
            <input asp-for="Region" class="form-control" />
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Obeys" class="control-label"></label>
            <input asp-for="Obeys" class="form-control" />
            <span asp-validation-for="Obeys" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Requirements" class="control-label"></label>
            <input asp-for="Requirements" class="form-control" />
            <span asp-validation-for="Requirements" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Conditions" class="control-label"></label>
            <input asp-for="Conditions" class="form-control" />
            <span asp-validation-for="Conditions" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div сlass="card-footer border-top form-group">
            <label class="btn btn-primary" id="save_button" style="float: right; background-color: #AABACC; text-decoration-color: #EFEFEF; margin:auto ">
                Опубликовать<input type="submit" style="display: none;" id="save_button" name="save_button">
            </label>
        </div>
    </div>
</form>



