@model IEnumerable<SurfingBlogRt.Models.Vacancy>

@{
    ViewData["Title"] = "Поиск вакансий";
}

<a class="top_button" onclick="topFunction()" id="myBtn">
    <img src="~/img/top_button.png" class="top">
</a>
<div class="searchVac">
    <input type="text" placeholder="Поиск">
    <a href="search.html" onclick="search.html">
        <img src="~/img/searching.png">
    </a>
</div>

<div class="base">
    <div class="filtres">
        <p>Занятость:</p>
        <div class="busyness">
            <label>
                <input type="checkbox" name="full" class="real-checkbox">
                <span class="custom-checkbox"></span> Полная занятость
            </label>
            <label>
                <input type="checkbox" name="part" class="real-checkbox">
                <span class="custom-checkbox"></span> Частичная занятость
            </label>
            <label>
                <input type="checkbox" name="internship" class="real-checkbox">
                <span class="custom-checkbox"></span> Стажировка
            </label>
            <label>
                <input type="checkbox" name="others" class="real-checkbox">
                <span class="custom-checkbox"></span> Другое
            </label>
        </div>
        <p>Зарплата:</p>
        <div class="salary">
            <label>
                <input type="radio" name="sal" value="not-important" class="real-radio">
                <span class="custom-radio"></span> Не имеет значения
            </label>
            <label>
                <input type="radio" name="sal" value="none" class="real-radio">
                <span class="custom-radio"></span> От 15 000 руб.
            </label>
            <label>
                <input type="radio" name="sal" value="1-3years" class="real-radio">
                <span class="custom-radio"></span> От 30 000 руб.
            </label>
            <label>
                <input type="radio" name="sal" value="3-6years" class="real-radio">
                <span class="custom-radio"></span> От 45 000 руб.
            </label>
            <label>
                <input type="radio" name="sal" value="6years-more" class="real-radio">
                <span class="custom-radio"></span> От 60 000 руб.
            </label>
            <label>
                <input type="radio" name="sal" value="6years-more" class="real-radio">
                <span class="custom-radio"></span> От 75 000 руб.
            </label>
        </div>
        <p>Месторасположение:</p>
        <div class="region">
            <label>
                <input type="checkbox" name="samara" class="real-checkbox">
                <span class="custom-checkbox"></span> Самара
            </label>
            <label>
                <input type="checkbox" name="syzran" class="real-checkbox">
                <span class="custom-checkbox"></span> Сызрань
            </label>
            <label>
                <input type="checkbox" name="tolyatti" class="real-checkbox">
                <span class="custom-checkbox"></span> Тольятти
            </label>
            <label>
                <input type="checkbox" name="others" class="real-checkbox">
                <span class="custom-checkbox"></span> Другое
            </label>
        </div>
        <p>Опыт работы:</p>
        <div class="expirience">
            <label>
                <input type="radio" name="exp" value="not-important" class="real-radio">
                <span class="custom-radio"></span> Не имеет значения
            </label>
            <label>
                <input type="radio" name="exp" value="none" class="real-radio">
                <span class="custom-radio"></span> Нет опыта
            </label>
            <label>
                <input type="radio" name="exp" value="1-3years" class="real-radio">
                <span class="custom-radio"></span> От 1 года до 3 лет
            </label>
            <label>
                <input type="radio" name="exp" value="3-6years" class="real-radio">
                <span class="custom-radio"></span> От 3 лет до 6 лет
            </label>
            <label>
                <input type="radio" name="exp" value="6years-more" class="real-radio">
                <span class="custom-radio"></span> Более 6 лет
            </label>
        </div>
    </div>
    <div class="vacancies">
        <div class="blocks">
            @Html.Partial("Items")
        </div>
    </div>
</div>


        <script src="js/scriptForButtonTop.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript">
            window.addEventListener("load", initAll1);
            window.addEventListener("load", initAll2);
            var xhr1 = false, x, allSubs, elements, ps;
            function initAll1() {
                elements = document.querySelectorAll(".name-place");
                for (let i = 0; i < elements.length; i++)
                    elements[i].onclick = displayTitle;
                if (window.XMLHttpRequest)
                    xhr1 = new XMLHttpRequest();
                else {
                    if (window.ActiveXObject) {
                        try {
                            xhr1 = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        catch (e) { }
                    }
                }
                if (xhr1) {
                    xhr1.onreadystatechange = setTitlesArray;
                    xhr1.open("GET", "firmCatalog.xml", true);
                    xhr1.send();
                }
                /*else
                  alert("Error 1");*/
            }
            function setTitlesArray() {
                if (xhr1.readyState == 4) {
                    if (xhr1.status == 200) {
                        if (xhr1.responseXML)
                            allSubs = xhr1.responseXML.getElementsByTagName("Firm");
                        /*else
                          alert("Error 2 " + xhr.status);*/
                    }
                }
            }
            function displayTitle() {
                var i = parseInt(this.getAttribute("value"));
                document.getElementById("show" + i).innerHTML = allSubs[i - 1].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue;
            }

            var xhr = false;
            var subsArray = new Array();
            function initAll2() {
                document.getElementById("searchField").onkeyup = searchSuggest;
                if (window.XMLHttpRequest)
                    xhr = new XMLHttpRequest();
                else {
                    if (window.ActiveXObject) {
                        try {
                            xhr = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        catch (e) { }
                    }
                }
                if (xhr) {
                    xhr.onreadystatechange = setSubsArray;
                    xhr.open("GET", "russia.xml", true);
                    xhr.send(null);
                }
                /*else
                    alert("Error 1");*/
            }
            function setSubsArray() {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        if (xhr.responseXML) {
                            var allSubs = xhr.responseXML.getElementsByTagName("subject_of_federation");
                            for (var i = 0; i < allSubs.length; i++)
                                subsArray[i] = allSubs[i].getElementsByTagName("name")[0].firstChild;
                        }
                    }
                    /*else
                        alert("Error 2 " + xhr.status);*/
                }
            }
            function searchSuggest() {
                var str = document.getElementById("searchField").value;
                document.getElementById("searchField").className = "";
                if (str != "") {
                    document.getElementById("popups").innerHTML = "";
                    for (var i = 0; i < subsArray.length; i++) {
                        var thisSub = subsArray[i].nodeValue;
                        if (thisSub.toLowerCase().indexOf(str.toLowerCase()) == 0) {
                            var tempDiv = document.createElement("div");
                            tempDiv.innerHTML = thisSub;
                            tempDiv.onclick = makeChoice;
                            tempDiv.className = "suggestions";
                            document.getElementById("popups").appendChild(tempDiv);
                        }
                    }
                    var foundCt = document.getElementById("popups").childNodes.length;
                    if (foundCt == 0)
                        document.getElementById("searchField").className = "error";
                    if (foundCt == 1) {
                        document.getElementById("searchField").value = document.getElementById("popups").firstChild.innerHTML;
                        document.getElementById("popups").innerHTML = "";
                    }
                }
            }
            function makeChoice(evt) {
                var thisDiv = (evt) ? evt.target : window.event.srcElement;
                document.getElementById("searchField").value = thisDiv.innerHTML;
                document.getElementById("popups").innerHTML = "";
            }

        </script>
