@{
    ViewData["Title"] = "Главная";
}
<a class="top_button" onclick="topFunction()" id="myBtn">
    <img src="images/top_button.png" class="top">
</a>
<div class="intro">
    <button class="main_button" onclick="document.location='search.html'">Начать поиск работы</button>
    <button class="main_button" onclick="document.location='post.html'">Выложить вакансию</button>
</div>
<h1>Полезные статьи по поиску работы</h1>
<div class="article_list">
    <div class="article">
        <div class="image_container">
            <img src="~/img/cv.png" class="article_img">
            <a class="brand-logo" asp-area="" asp-controller="About" asp-action="About">
                <p class="text">Читать</p>
            </a>
        </div>
        <div class="article_review">
            <a class="brand-logo" asp-area="" asp-controller="About" asp-action="About">
                <h2>Как правильно составить резюме: наши советы</h2>
            </a>
            <p>
                Будем честны: резюме не главное при устройстве на работу. Человека с уникальными опытом и
                компетенциями пригласят, даже если его резюме составлено на салфетке. Другое дело, если к
                категории профессионалов он пока не относится.
            </p>
        </div>
    </div>
    <div class="article">
        <div class="image_container">
            <img src="~/img/search.jpg" class="article_img">
            <a class="brand-logo" asp-area="" asp-controller="About" asp-action="About">
                <p class="text">Читать</p>
            </a>
        </div>
        <div class="article_review">
            <a class="brand-logo" asp-area="" asp-controller="About" asp-action="About">
                <h2>Методика поиска работы молодым человеком без опыта</h2>
            </a>
            <p>
                Необходимость поиска работы – это большой психологический стресс. Особенно сложно бывшим
                студентам, которые только что получили диплом об окончании высшего учебного заведения и ни дня
                не работали по специальности.
            </p>
        </div>
    </div>
    <div class="article">
        <div class="image_container">
            <img class="article_img" id="newImg" src="images/interview.jpeg">
            <a id="newA" href="main.html">
                <p class="text" id="newRead">Читать</p>
            </a>
        </div>
        <div class="article_review">
            <a id="newA2" class="brand-logo" asp-area="" asp-controller="About" asp-action="About">
                <h2 id="newH2">Рассказ о себе на собеседовании</h2>
            </a>
            <p id="newP">Каждый соискатель сталкивается с тем, что ему необходимо прийти на собеседование. Задача на первый взгляд проста — рассказать о себе, ответить на вопросы работодателя, но с другой стороны нужно уметь презентовать себя, рассказать те факты, которые могут приятно удивить рекрутера</p>
        </div>
    </div>
</div>
