@import url(https://allfont.ru/allfont.css?fonts=lazurski-cyrillic);
*{
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Lazurski Cyrillic', arial;
}
main{
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 19px;
}
h1{
  text-align: left;
  font-size: 35px;
  color: #131A21;
}
.name-place{
  font-style: oblique 5deg;
  font-size: 22px;
  margin-bottom: 25px;
}
h2{
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 10px;
}
ol{
  line-height: 30px;
  margin-left: 45px;
}
.contact-info{
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
