@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/article1.css">
    <link rel="stylesheet" href="~/css/post.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm mb-3 teal lighten-2" style="background-color: #C7D2D9">
            <div class="nav-wrapper">
                <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="images/logo.png" class="logo">
                </a>
                <form action="#">
                    <div class="search">
                        <input type="text" id="searchField" autocomplete="off" placeholder="Введите ваш регион"> <br />
                        <div id="popups"> </div>
                    </div>
                </form>
                <span id="time"></span>
                <script type="text/javascript">
                    function clock() {
                        var d = new Date();
                        var day = d.getDate();
                        var hrs = d.getHours();
                        var min = d.getMinutes();
                        var sec = d.getSeconds();
                        var mnt = new Array("января", "февраля", "марта", "апреля", "мая",
                            "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря");
                        if (day <= 9) day = "0" + day;
                        if (hrs <= 9) hrs = "0" + hrs;
                        if (min <= 9) min = "0" + min;
                        if (sec <= 9) sec = "0" + sec;
                        $("#time").html("Сейчас: " + hrs + ":" + min + ":" + sec + "&nbsp;&nbsp;&nbsp;" + day + "-го " + mnt[d.getMonth()] + " " + d.getFullYear() + " г.");
                    }
                    setInterval("clock()", 1000);
                </script>
                <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main">
            <a class="top_button" onclick="topFunction()" id="myBtn">
                <img src="~/img/top_button.png" class="top">
            </a>
             @RenderBody()
        </main>
    </div>

    <div id="toTop"> ^ Наверх </div>

    <footer>
        <p>Создано Сусликовой Марией, студенткой группы 6414-020302D</p>
        <p>2021 Все права защищены</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
